
body{
    font: 20px Arial, sans-serif
}
.navbar {
    background-color:rgb(30, 82, 37);
}

.quem-somos{
    background-color: rgb(57, 143, 241);
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px
}

.parceiros{
    background-color: rgb(236, 140, 76);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}